<div class="container">
    <form id="update-student" data-id={{student.id}}>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name-update" value="{{student.name}}">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone-update" value="{{student.phone}}">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address-update" value="{{student.address}}">
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type-update" value="{{student.type}}">
        </div>
        <div class="form-group">
            <label for="quantity_in_lbs">Quantity (in lbs):</label>
            <input type="text" class="form-control" id="quantity_in_lbs-update" value="{{student.quantity_in_lbs}}">
        </div>
        <div class="form-group">
            <label for="pickupStart">Pickup Start Time:</label>
            <input type="text" class="form-control" id="pickupStart-update" value="{{student.pickupStart}}">
        </div>
        <div class="form-group">
            <label for="pickupEnd">Pickup End Time:</label>
            <input type="text" class="form-control" id="pickupEnd-update" value="{{student.pickupEnd}}">
        </div>
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

{{!-- <pre>{{student.name}}
    {{student.phone}}
    {{student.address}}
    {{student.type}}
    </pre> --}}
